@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - PandaForum</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="logo-block">
                <img class="logo-img" src="~/images/logo.png" height="100" width="100" alt=""/>
                <span class="logo-text">Panda Forum</span>
            </div>
            <nav id="main-navigation">
                <a asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="Login">@SharedLocalizer["Log In"]</a>
                    <a asp-controller="Account" asp-action="Register">@SharedLocalizer["Register"]</a>
                }
                else
                {
                    if (User.IsInRole("admin"))
                    {
                        <a asp-controller="Admin" asp-action="Users">@SharedLocalizer["Users"]</a>
                        <a asp-controller="Admin" asp-action="Partitions">@SharedLocalizer["Partitions"]</a>
                    }
                <a asp-controller="Account" asp-action="View">@User.Identity.Name</a>
                <a asp-controller="Account" asp-action="Logout">@SharedLocalizer["Log Out"]</a>
            }
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <div>© 2018 "HOMA INC." </div>
            <div class="set-language">
                <form asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
                    method="post" class="form-horizontal">
                    <div>@SharedLocalizer["Language"]:</div>
                    <div>
                        <select name="culture" class="form-control form-control-sm" onchange="this.form.submit();"
                            asp-for="@requestCulture.RequestCulture.UICulture.Name"
                            asp-items="@cultureItems"></select>
                    </div>
                </form>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await RenderSectionAsync("PageScripts", false)
</body>
</html>