@model LoginModel
@{
    ViewData["Title"] = SharedLocalizer["Log In"];
}

<section class="window">
    <div class="section-header">@SharedLocalizer["Log In"]</div>
    <div class="section-body p-10">
        @if (User.Identity.IsAuthenticated)
        {
            <p>@Localizer["Already login msg 1"]<a href="~/Account/Logout">@Localizer["Already login msg 2"]</a>?</p>
        }
        else
        {
            <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" onclick='this.style.display = "none";'></div>
                <div class="form-group">
                    <label asp-for="Email">@Localizer["Email"]</label>
                    <div class="input-group">
                        <input class="validate-input" type="text" asp-for="Email" required placeholder="@SharedLocalizer["Enter your email"]"/>
                        <span asp-validation-for="Email" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password">@Localizer["Password"]</label>
                    <div class="input-group">
                        <input class="validate-input" type="password" asp-for="Password" required placeholder="@SharedLocalizer["Enter password"]"/>
                        <span class="small" asp-validation-for="Password"/>
                    </div>
                </div>
                <div class="form-group form-button">
                    <button class="button sky-btn" type="submit">@SharedLocalizer["Log In"]</button>
                </div>
            </form>
        }
        </div>
</section>
