@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="window">
    <div class="section-header">@SharedLocalizer["Register"]</div>
    <div class="section-body p-10">
        <form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" onclick='this.style.display = "none";'></div>
            <div class="form-group">
                <label asp-for="Login">@Localizer["Login"]</label>
                <div class="input-group">
                    <input class="validate-input" type="text" asp-for="Login" required placeholder="@SharedLocalizer["Enter login"]"/><br />
                    <span class="small" asp-validation-for="Login" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email">@Localizer["Email"]</label>
                <div class="input-group">
                    <input class="validate-input" type="text" asp-for="Email" required placeholder="@SharedLocalizer["Enter your email"]"/><br />
                    <span asp-validation-for="Email" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password">@Localizer["Password"]</label>
                <div class="input-group">
                    <input class="validate-input" type="password" asp-for="Password" required placeholder="@SharedLocalizer["Enter password"]"/><br />
                    <span asp-validation-for="Password" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">@Localizer["Confirm Password"]</label>
                <div class="input-group">
                    <input class="validate-input" type="password" asp-for="ConfirmPassword" required placeholder="@SharedLocalizer["Repeat password"]"/><br />
                    <span asp-validation-for="ConfirmPassword" />
                </div>
            </div>
            <div class="form-group form-button">
                <button class="button gray-btn" type="reset">@SharedLocalizer["Reset"]</button>
                <button class="button sky-btn" type="submit">@SharedLocalizer["Register"]</button>
            </div>
        </form>
    </div>
</section>
