@model NewTopicModel
@{
    ViewData["Title"] = ViewBag.catName;
}
<section class="modal" id="new_topic">
    <div class="section-header sky-bg">@Localizer["New topic"]</div>
    <div class="section-body modal-body">
        <form id="create_topic_form" action="javascript:void(0);" onsubmit="createTopic()">
            <div class="validation" id="errors"></div>
            <input class="collapse" type="number" hidden asp-for="CategoryId" value="@ViewBag.catId"/>
            <div class="form-group">
                <label asp-for="Name">@Localizer["Name"]</label>
                <div class="input-group">
                    <input class="validate-input" type="text" asp-for="Name" required />
                    <span class="small" asp-validation-for="Name" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InitialText">@Localizer["InitialMessage"]</label>
                <div class="input-group">
                    <textarea class="validate-input" asp-for="InitialText" required></textarea>
                    <span asp-validation-for="InitialText" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="button gray-btn modal-button" type="button" data-target="new_topic" onclick="hideModal(this.dataset.target)">@SharedLocalizer["Close"]</button>
                <button class="button sky-btn modal-button" type="submit">@Localizer["New topic"]</button>
            </div>
        </form>
    </div>
</section>

<section id="category_container" class="window">
</section>

@section PageScripts {
    <script type="text/javascript">const cat_id = @ViewBag.catId;</script>
    <script src="~/js/jquery.tmpl.js" type="text/javascript"></script>
    <script id="catTmpl" type="text/x-jquery-tmpl">
        <div class="section-header">
            ${name}
            <div class="mini-menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="sky-action" data-toggle="modal" data-target="new_topic">
                    <span class="icon">A</span>@Localizer["New topic"]
                    </a>
                }
            </div>
        </div>
        <div class="section-body">
            {%each(tid, topic) topics%}
            <div class=" div-line">
                <div class="fl-l line-icon">
                    {%if topic.isClosed == true%}
                    <img src="/images/closed-topic.png" height="30" width="30" />
                    {%else%}
                    <img src="/images/topic.png" height="30" width="30" />
                    {%/if%}
                </div>
                <div class="line-titles">
                    <a href="/Home/Topic/${topic.id}">${topic.name}</a>
                </div>
                <div class="fl-r line-properties">
                    <small>@SharedLocalizer["Messages"]: ${topic.messagesCount}</small></br>
                    <small>@SharedLocalizer["Last Activity"]: ${topic.lastActivity}</small>
                </div>
            </div>
            {%/each%}
        </div>
    </script>
    <script src="~/js/category.js" type="text/javascript"></script>
    <script src="~/js/modal.js" type="text/javascript"></script>
}